# NOTE: This file is auto generated by OpenAPI Generator 7.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule BrokerAPI.Api.Clock do
  @moduledoc """
  API calls for all endpoints tagged `Clock`.
  """

  alias BrokerAPI.Connection
  import BrokerAPI.RequestBuilder

  @doc """
  Query market clock
  The Clock API serves the current market timestamp, whether or not the market is currently open, as well as the times of the next market open and close.

  ### Parameters

  - `connection` (BrokerAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, BrokerAPI.Model.Clock.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec query_market_clock(Tesla.Env.client, keyword()) :: {:ok, BrokerAPI.Model.Clock.t} | {:error, Tesla.Env.t}
  def query_market_clock(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/clock")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, BrokerAPI.Model.Clock}
    ])
  end
end
